node_modules/
package-lock.json

.vscode/
db/csv/

app/node_modules/
app/.idea/

app/.mta/
*
app/.mtar
dist/

app/package-lock.json


app/mta_archives/

app/deployer/
app/resources/

app/Makefile*

app/mta-*

app/approuter/
